.body-style {
    font-family: 'Poppins', sans-serif;
}

.navbar-brand {
    font-size: 25px;
    font-weight: bold;
}

.container-fluid {
    position: relative;
}

.Syariah {
    color: darkgreen;
}

.nav-link:hover{
    color: black;
}

.greeting_text {
    margin-top: 20px;
}