:root {
  --hijau: darkgreen;
}

.body-style {
  font-family: "Poppins", sans-serif;
}

.navbar-brand {
  font-size: 25px;
  font-weight: bold;
}

.container-fluid {
  position: relative;
}

.Syariah {
  color: var(--hijau);
}

.nav-link:hover {
  color: black;
}

/* jumbotron */
.jumbotron {
  background-image: url("/img/background.jpg");

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* From https://css.glass */
  /* background: rgba(255, 255, 255, 0.2); */
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.jumbotron h1 {
  /* warna font */
  color: white;
}
.jumbotron p {
  color: white;
}

.greeting_text {
  margin-top: 20px;
}
/* Styling untuk carousel dan card */
.carousel-inner .row {
  display: flex;
  flex-wrap: wrap;
}

.carousel-inner .col {
  flex: 0 0 auto;
  width: 25%; /* 4 kartu per baris */
  padding: 0.5rem;
}

.card {
  height: 100%;
}

.card-img-top {
  object-fit: cover;
  height: 150px; /* Sesuaikan tinggi gambar sesuai kebutuhan */
}

.card-title {
  font-size: 0.9rem; /* Ukuran font yang lebih kecil untuk judul */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  /* -webkit-line-clamp: 2; Batasi judul menjadi 2 baris */
  -webkit-box-orient: vertical;
}

/* Media queries untuk responsivitas */
@media (max-width: 767px) {
  .carousel-inner .col {
    width: 50%; /* 2 kartu per baris pada layar kecil */
  }

  .card-img-top {
    height: 120px; /* Sesuaikan tinggi gambar untuk layar kecil */
  }

  .card-title {
    font-size: 0.8rem; /* Ukuran font yang lebih kecil lagi untuk layar kecil */
  }
}

@media (max-width: 575px) {
  .carousel-inner .col {
    width: 50%; /* Tetap 2 kartu per baris pada layar sangat kecil */
  }

  .card-img-top {
    height: 100px; /* Sesuaikan tinggi gambar untuk layar sangat kecil */
  }
}
